rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /data.json?ns=next-chat-app-f0e97 {
      allow read, write: if true;
    }
  }
}